$offwhite: #fdfaf5;
$pale: #ffedd3;
$peach: #ffd9ce;
$yellow: #ffb720;
$orange: #fc713e;
$ocean: #499fff;
$violet: #594ad5;
$midnight: #322876;
$ink: #212121;

$rt-color-info: $ink;

@import 'react-progress-bar-plus/lib/progress-bar';
@import 'react-toastify/src/scss/main';
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Spectral+SC');

.react-progress-bar-percent {
  background: $orange;
  box-shadow: 0 0 10px $orange, 0 0 5px $orange;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	line-height: 1.5;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

html,
body,
.root {
	height: 100%;
}

body,
.app {
	background: $offwhite;
}

h1, h2 {
  font-family: 'Spectral SC', serif;
}

p {
  font-size: 18px;
}

/* main page */

.list-books-title {
	padding: 0.8rem 0;
	margin-bottom:: 0.5rem;
	background: $ink;
	text-align: center;
}
.list-books-title h1 {
	font-weight: 900;
	margin: 0;
	color: $offwhite;
}

.list-books-content {
	padding: 0 0 85px;
	flex: 1;
}

.bookshelf {
	padding: 1rem 0 3rem;
	margin: 0.5rem;
	background-color: white;
}

@media (min-width: 600px) {
	.bookshelf {
		padding: 1rem 0.5rem 3rem;
		margin: 0.5rem;
	}
}

.bookshelf-title {
	text-align: center;
	color: $ink;
	display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
	&:after {
		display: block;
		width: 1rem;
		height: 2px;
		margin-top: 1rem;
		background-color: $ink;
		content: '';
	}
}
.bookshelf-books {
	text-align: center;
}

.open-search {
	position: fixed;
	right: 25px;
	bottom: 25px;
}
.open-search a {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: $orange;
	background-image: url('./icons/add.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px;
	box-shadow: 0 3px 6px rgba($orange, 0.16), 0 3px 6px rgba($orange, 0.23);
	font-size: 0;
}

/* search page */

.search-books {
  min-height: 100vh;
  background-color: white;
}

.search-books-bar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	display: flex;
	box-shadow: 0 10px 20px rgba($ink, 0.05), 0 0 6px rgba($ink, 0.07);
}
.search-books-input-wrapper {
	flex: 1;
}
.search-books-bar input {
	width: 100%;
	padding: 13.5px 10px;
	font-size: 1.25rem;
	border: none;
	outline: none;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.close-search {
	display: block;
	top: 20px;
	left: 15px;
	width: 50px;
	height: 53px;
	background: white;
	background-image: url('./icons/arrow-back.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 28px;
	font-size: 0;
}

.search-books-results {
	padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.books-grid li {
	padding: 10px 15px;
	text-align: left;
}

.book {
	width: 140px;
}

.book-title {
  font-size: 1.1rem;
  line-height: 1.2;
  margin: 1rem 0 0.5rem;
}

.book-authors {
	font-size: 0.7rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba($ink, 0.8);
}

.book-top {
	position: relative;
	height: 200px;
	display: flex;
	align-items: flex-end;
}

.book-shelf-changer {
	position: absolute;
	right: 0;
	bottom: -10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: $ink;
	background-image: url('./icons/arrow-drop-down.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	box-shadow: 0 3px 6px rgba($ink, 0.10), 0 3px 6px rgba($ink, 0.20);
}
.book-shelf-changer select {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

/* book cover */

.book-cover {
	box-shadow: 0 1px 100px rgba($ink, 0.02), 0 3px 20px rgba($ink, 0.10);
	background: $ink;
}
.book-cover-title {
	padding: 20px 10px 0;
	text-align: center;
	font-size: 0.8em;
}
